<div class="main-body">
    <div class="col-md-12"></div>
        
    <div class="container">
        <div class="row">
            
            <div class="col-sm">
                <h2>Conhecendo o jogo</h2>
                <img src="/img/GiftedAltruisticArkshell-size_restricted.gif" alt="">
                <p class="texto1">
                Skifree foi desenvolvido por Chris Pirih, ex programador da Microsoft que,
                com o objetivo de aprender a programar em Windons, resolveu fazer a versão gráfica
                do seu jogo de esqui para VAS/VMS.
                O objetivo do jogo é simples: usando o mouse, controle ou o teclado numérico,
                o usuário modifica o movimento horizontal do protagonista. Na versão original,
                é necessário evitar obstáculos como boias, pedras e outros esportistas,
                além de fugir de um kraken.
                </p>
            </div>
            <div class="col-sm">
                <h3>Algumas curiosidades sobre <i>SKIFREE</i></h3>
                <p class="texto1">
                <ul>
                    <li>Existe um site com fanfictions de Skifree <a href="https://www.fanfiction.net/game/Skifree/">https://www.fanfiction.net/game/Skifree/</a></li>
                    <li>O Abnominavel Homem das Neves aparecia exatamente na marca de 1985m.</li>
                    <li>A pista de esqui era um loop e qualquer coisa fora dos limites da pista ativava o mostro.</li>  
                </ul>
                O  <strong>abominable snow monster</strong> (abominável monstro da neve), tentará comer o jogador para forçar o final da partida.
                Não tem como escapar dele, ao menos que você vá pela diagonal oposta ao monstro e aperte o F para aumentar a velocidade.
                </p>
            </div>

        </div>
    </div>

</div>

