<div class="main-body">

    <div id="montanha">
    <div id="skier"></div>
    </div>
    <p><b>Painel:</b></p>
    <div class="distancia">
        <span id="metros">00m/s</span><br>
        <span id = "vidas">3 vidas restantes</span>
    </div>
    
</div>
<script src="skifree.js"></script>